/**
:root{
	--crygcat-color: #F2B9B2;
	--crygcat-card-bg: rgba(255,255,255,0.45);
}
**/

/* 颜色 */
:root {
  --crygcat-color: #EC97B9;
  --crygcat-font-color: #363636;
  --crygcat-font-grey: #888888;
  --crygcat-white: #FDFDFD;
  --crygcat-white-op: rgba(255, 255, 255, 0.2);
  --crygcat-black: #000;
  --crygcat-black-op: rgba(0, 0, 0, 0.2);
  --crygcat-theme: #F8C3CD;
  --crygcat-theme-op: #F4A7B923;
  --crygcat-main: var(--crygcat-theme);
  --crygcat-main-op: var(--crygcat-theme-op);
  --crygcat-shadow-theme: 0 8px 12px -3px var(--crygcat-theme-op);
  --crygcat-secondbg: #f1eeec;
  --crygcat-card-border: #FEDFE1;
  --crygcat-footer-bg: var(--crygcat-white);
  --crygcat-gray: #777777;
  --crygcat-white-acrylic1: #fefeff !important;
  --crygcat-white-acrylic2: #fcfdff !important;
  --crygcat-black-acrylic2: #08080a !important;
  --crygcat-black-acrylic1: #0b0b0e !important;
  --style-border: 1px solid var(--crygcat-card-border);
  --style-border-hover: 1px solid var(--crygcat-main);
  --style-border-dashed: 1px dashed var(--crygcat-theme-op);
  --style-border-avatar: 4px solid var(--anzhiyu-background);
  --style-border-always: 1px solid var(--crygcat-card-border);
  
  
  
  --ichika-color: #49A6E9;
  --ichika-hover-color: #ECAFFF;
  --ichika-widget-hover: #CFF0FF;
  --ichika-font-white: #FDFDFD;
  --ichika-light-green: #B2FFCA;
  --ichika-light-purple: #F6B9FF;
  --ichika-green: #11D991;
  --ichika-purple: #E764FF;
  --ichika-light-grey: #F2F2F2;
  --ichika-card-bg: rgba(255,255,255,0.45);
  --ichika-emphasis-color: #F7F81A;
  --ichika-bgblur: blur(10px);
  --ichika-footer-bg: linear-gradient(to bottom,transparent 0%,rgba(255,255,255,0.7) 40%);
  --ichika-font-grey: #888888;
  --ichika-categorycard-bg: linear-gradient(to top,rgba(255,255,255,0),rgba(255,255,255,1))
  
  --anzhiyu-theme-op: #4259ef23;
  --anzhiyu-gray-op: #9999992b;
  --anzhiyu-theme-top: var(--anzhiyu-theme);
  --anzhiyu-none: rgba(0, 0, 0, 0);
  --anzhiyu-gray: #999999;
  --anzhiyu-yellow: #ffc93e;
  --anzhiyu-border-radius: 8px;
  --anzhiyu-main: var(--anzhiyu-theme);
  --anzhiyu-main-op: var(--anzhiyu-theme-op);
  
  --anzhiyu-shadow-main: 0 8px 12px -3px var(--anzhiyu-main-op);
  --anzhiyu-shadow-blue: 0 8px 12px -3px rgba(40, 109, 234, 0.2);
  --anzhiyu-shadow-white: 0 8px 12px -3px rgba(255, 255, 255, 0.2);
  --anzhiyu-shadow-black: 0 0 12px 4px rgba(0, 0, 0, 0.05);
  --anzhiyu-shadow-yellow: 0px 38px 77px -26px rgba(255, 201, 62, 0.12);
  --anzhiyu-shadow-red: 0 8px 12px -3px #ee7d7936;
  --anzhiyu-shadow-green: 0 8px 12px -3px #87ee7936;
  --anzhiyu-shadow-border: 0 8px 16px -4px #2c2d300c;
  --anzhiyu-shadow-blackdeep: 0 2px 16px -3px rgba(0, 0, 0, 0.15);
  --anzhiyu-logo-color: linear-gradient(215deg, #4584ff 30%, #ff7676 70%);
  --anzhiyu-blue-main: #3b70fc;
  
  --anzhiyu-main-none: #b8b8b800 !important;
}

[data-theme="light"] {
  --anzhiyu-theme: #F8C3CD;
  --anzhiyu-theme-op: #4259ef23;
  --anzhiyu-blue: #3b70fc;
  --anzhiyu-red: #d8213c;
  --anzhiyu-pink: #ff7c7c;
  --anzhiyu-green: #57bd6a;
  --anzhiyu-fontcolor: #363636;
  --anzhiyu-background: #f7f9fe;
  --anzhiyu-reverse: #000;
  --anzhiyu-maskbg: rgba(255, 255, 255, 0.6);
  --anzhiyu-maskbgdeep: rgba(255, 255, 255, 0.85);
  --anzhiyu-hovertext: var(--anzhiyu-theme);
  --anzhiyu-ahoverbg: #f7f7fa;
  --anzhiyu-lighttext: var(--anzhiyu-main);
  --anzhiyu-secondtext: rgba(60, 60, 67, 0.6);
  --anzhiyu-scrollbar: rgba(60, 60, 67, 0.4);
  --anzhiyu-card-btn-bg: #edf0f7;
  --anzhiyu-post-blockquote-bg: #fafcff;
  --anzhiyu-post-tabs-bg: #f2f5f8;
  --anzhiyu-secondbg: #edf0f7;
  --anzhiyu-shadow-nav: 0 5px 12px -5px rgba(102, 68, 68, 0.05);
  --anzhiyu-card-bg: #fff;
  --anzhiyu-shadow-lightblack: 0 5px 12px -5px rgba(102, 68, 68, 0);
  --anzhiyu-shadow-light2black: 0 5px 12px -5px rgba(102, 68, 68, 0);
  --anzhiyu-card-border: #c0c6d8;
}

[data-theme="dark"] {
  --crygcat-color: #F8C3CD;
  --crygcat-font-color: #f7f7fa;
  
  --ichika-color: #1688C9;
  --ichika-widget-hover: #1B6587;
  --ichika-card-bg: rgba(0,0,0,0.7);
  --ichika-footer-bg: linear-gradient(to bottom,transparent 0%,rgba(0,0,0,0.7) 40%);
  --ichika-font-grey: #BBBBBB;
  --ichika-categorycard-bg:linear-gradient(to top,rgba(0,0,0,0),rgba(0,0,0,1))
  
  --global-bg: #191919;
  --anzhiyu-theme: #0084ff;
  --anzhiyu-theme-op: #0084ff23;
  --anzhiyu-blue: #0084ff;
  --anzhiyu-red: #ff3842;
  --anzhiyu-pink: #ff7c7c;
  --anzhiyu-green: #57bd6a;
  --anzhiyu-fontcolor: #f7f7fa;
  --anzhiyu-background: #18171d;
  --anzhiyu-reverse: #fff;
  --anzhiyu-maskbg: rgba(0, 0, 0, 0.6);
  --anzhiyu-maskbgdeep: rgba(0, 0, 0, 0.85);
  --anzhiyu-hovertext: #0a84ff;
  --anzhiyu-ahoverbg: #fff;
  --anzhiyu-lighttext: #f2b94b;
  --anzhiyu-secondtext: #a1a2b8;
  --anzhiyu-scrollbar: rgba(200, 200, 223, 0.4);
  --anzhiyu-card-btn-bg: #30343f;
  --anzhiyu-post-blockquote-bg: #000;
  --anzhiyu-post-tabs-bg: #121212;
  --anzhiyu-secondbg: #30343f;
  --anzhiyu-shadow-nav: 0 5px 20px 0px rgba(28, 28, 28, 0.4);
  --anzhiyu-card-bg: #1d1b26;
  --anzhiyu-shadow-lightblack: 0 5px 12px -5px rgba(102, 68, 68, 0);
  --anzhiyu-shadow-light2black: 0 5px 12px -5px rgba(102, 68, 68, 0);
  --anzhiyu-card-border: #42444a;
}

#nav *::after{
    background-color: transparent!important;
	
}

/* 首页 - 开始 */
/* 首页文章标题链接颜色 */
#content-inner .recent-post-item .article-title:hover{
    color: var(--crygcat-color)!important;
}
#recent-posts > .recent-post-item >.recent-post-info > .article-meta-wrap a:hover{
    color: var(--crygcat-color)!important;
    text-decoration: none !important;
}
/* 首页 - 结束 */

/* 归档 - 开始 */
.article-sort-meta > .article-meta-wrap a:hover{
    color: var(--crygcat-color)!important;
}
/* 归档 - 结束 */

/* 文章 - 开始 */
#post-info #post-meta a:hover{
    color: var(--crygcat-color)!important;
    text-decoration: none !important;
}
/* 文章 - 结束 */


/* *************************************************************************************** */


/* Ariasakaの小窝 - 导航栏居中 - 开始 */
#nav-right{
    flex:1 1 auto;
    justify-content: flex-end;
    margin-left: auto;
    display: flex;
    flex-wrap:nowrap;
}
/* Ariasakaの小窝 - 导航栏居中 - 结束 */


/* Ariasakaの小窝 - 顶栏常驻 - 开始 */
.nav-fixed #nav{
    transform: translateY(58px)!important;
    -webkit-transform: translateY(58px)!important;
    -moz-transform: translateY(58px)!important;
    -ms-transform: translateY(58px)!important;
    -o-transform: translateY(58px)!important;
}
#nav{
    transition: none!important;
    -webkit-transition: none!important;
    -moz-transition: none!important;
    -ms-transition: none!important;
    -o-transition: none!important;
}
/* Ariasakaの小窝 - 顶栏常驻 - 结束 */


/* Ariasakaの小窝 - 显示标题 - 开始 */
#page-name::before{
    font-size:18px;
    position: absolute;
    width:100%;
    height:100%;
    border-radius: 8px;
    color:white!important;
    top:0;
    left:0;
    content:'回到顶部';
    background-color: var(--crygcat-color);
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    opacity: 0;
    box-shadow: 0 0 3px var(--crygcat-color);
    line-height: 45px; /*如果垂直位置不居中可以微调此值，也可以删了*/
}
#page-name:hover:before{
    opacity: 1;
}
@media screen and (max-width:900px){
    #page-name,#menus{
      display:none!important;
    }
}
#name-container{
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}
#name-container:hover{
    scale:1.03
}
#page-name{
    position: relative;
    padding:10px 30px/*如果文字间隔不合理可以微调修改，第二个是水平方向的padding，第一个是垂直的*/
}
#nav{
    padding: 0 20px;
}
/* Ariasakaの小窝 - 显示标题 - 结束 */


/* Ariasakaの小窝 - 网站标题部分的增强版 - 开始 */
#site-name::before{
    opacity: 0;
    background-color: var(--crygcat-color)!important;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    position:absolute;
    top:0!important;
    right:0!important;
    width:100%;
    height:100%;
    content: "\f015";
    box-shadow: 0 0 5px var(--crygcat-color);
    font-family: "Font Awesome 6 Free";
    text-align: center;
    color:white;
    line-height:27px;/*如果有溢出或者垂直不居中的现象微调一下这个参数*/
    font-size: 18px;/*根据个人喜好*/
}
#site-name:hover::before{
    opacity: 1;
    scale:1.03;
}
#site-name{
    position: relative;
    font-size: 24px; /*一定要把字体调大点，否则效果惨不忍睹！*/
}
/* Ariasakaの小窝 - 网站标题部分的增强版 - 结束 */


/* ichikaの小窝 - 归档、标签、分类页 - 开始 */
.layout.hide-aside{
    max-width:1200px;
}

#archive,#tag,#category {
    background: var(--ichika-card-bg);
    padding: 25px 10px;
}

.article-sort-title{
    margin-top:30px;
    margin-bottom:20px;
}

.article-sort-item::before, .article-sort-title::before, .article-sort-title::after {
    content: none;
}

.article-sort .year{
    width:100%!important;
    border-bottom:dashed 5px var(--crygcat-color);
    font-size:26px;
    margin-top:20px;
}

.article-sort{
    border:none;
    display:flex;
    flex-wrap:wrap;
    margin:20px 20px;
    padding:0;
}

.article-sort-item:not(.year){
    padding:8px 10px;
    width:calc(50% - 0.8rem);
    margin:0.4rem;
    border:2px solid var(--crygcat-color);
    border-radius:15px;
    background:var(--card-bg);
    transition:0.5s;
    height:120px;
}

.article-sort-item-a{
    position:absolute;
    width:100%;
    height:100%;
}

.article-sort-item-img{
    transition:0.5s;
    height:90px;
    width:140px;
}

.article-sort-item > a >img{
    border-radius:15px;
}

.article-sort-item-title {
    font-size: 22px;
    padding-left: 10px;
    margin: 10px 0;
    line-height:25px;
    text-overflow:ellipsis;
}

.article-sort-item-title:hover{
    transform:none;
}

.article-sort-meta{
    height:max-content;
    position:relative;
}

.article-sort-meta > .article-meta-wrap{
    float:left;
}

.article-sort-meta > .article-sort-item-time{
    float:right;
}

.article-sort-item-categories,.article-sort-item-tags{
    margin:0 3px;
    padding:5px 8px;
    border-radius:25px;
    border:1px solid var(--dark-grey);
    font-size:12px;
    transition:0.5s;
}

.article-sort-item-info > div:not(.article-sort-meta){
    display:flex;
}

.article-sort-description,.article-sort-item > i{
    width:0;
    opacity:0;
    overflow:hidden;
    transition:0.5s;
}

.article-sort-description {
    width: 0;
    height: 59px;
    vertical-align: middle;
    margin: 5px 10px 0 15px;
    text-overflow:ellipsis;
}

.article-sort-item:hover:not(.year){
    background-color:var(--crygcat-color);
    box-shadow: 0 0 10px var(--crygcat-color);
}

.article-sort-item:hover:not(.year){
    background-color:var(--crygcat-color);
    box-shadow: 0 0 10px var(--crygcat-color);
}

.article-sort-item:hover:not(.year) .article-sort-description,.article-sort-item:hover:not(.year) > i{
    width:auto;
    opacity:1;
}

.article-sort-item:hover:not(.year) .article-sort-description{
    width:auto;
}

.article-sort-item:hover:not(.year) .article-sort-item-img{
    transition:0.5s;
    width:0;
}

.article-sort-item:hover:not(.year) .article-sort-item-title{
    color:var(--ichika-font-white)!important;
}

.article-sort-item:hover:not(.year) .article-meta-wrap a,.article-sort-item:hover:not(.year) .article-sort-description,.article-sort-item:hover:not(.year) .article-sort-item-time{
    color:var(--crygcat-white);
}

.article-sort-item:hover:not(.year) .article-sort-item-categories{
    border:1.5px solid var(--crygcat-white);
}

.article-sort-item:hover:not(.year) .article-sort-item-tags{
    border:1.5px solid var(--crygcat-white);
}

.article-sort-item:hover:not(.year) .article-sort-item-categories:hover{
    background-color:var(--crygcat-white);
	color: var(--crygcat-black)!important;
}

.article-sort-item:hover:not(.year) .article-sort-item-tags:hover{
    background:var(--crygcat-white);
	color:var(--crygcat-black)!important;
}

@media screen and (max-width:768px) {
    .article-sort-item:not(.year) {
        width: 100%;
    }

    .article-sort-meta > .article-meta-wrap {
        display: none;
    }

    .article-sort-item-title {
        font-size: 16px;
    }

    .article-sort-item-img{
        width:90px;
    }
}
/* ichikaの小窝 - 归档、标签、分类页 - 结束 */


/* 安知鱼 - 侧边栏归档样式 - 开始 */
span.card-archive-list-count {
  width: auto;
  text-align: left;
  font-size: 1.5rem;
  line-height: 0.9;
  font-weight: 700;
}
.card-archive-list-count-group {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
#aside-content .card-archives ul.card-archive-list > .card-archive-list-item a span:last-child,
#aside-content .card-categories ul.card-category-list > .card-category-list-item a span:last-child {
  width: fit-content;
  margin-left: 4px;
  margin-bottom: 4px;
}
span.card-archive-list-count {
  width: auto;
  text-align: left;
  font-size: 1.1rem;
  line-height: 0.9;
  font-weight: 700;
}
.card-archive-list-date {
  font-size: 14px;
  opacity: 0.6;
}
li.card-archive-list-item {
  width: 100%;
  flex: 0 0 48%;
}
#aside-content .card-archives ul.card-archive-list > .card-archive-list-item a:hover,
#aside-content .card-categories ul.card-category-list > .card-category-list-item a:hover {
  color: var(--crygcat-white);
  background-color: var(--crygcat-color);
  box-shadow: var(--crygcat-shadow-theme);
  border-radius: 8px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
@media screen and (min-width: 1300px) {
  #aside-content .card-archives ul.card-archive-list > .card-archive-list-item a:hover,
  #aside-content .card-categories ul.card-category-list > .card-category-list-item a:hover {
    transform: scale(1.03);
  }
  #aside-content .card-archives ul.card-archive-list > .card-archive-list-item a:active,
  #aside-content .card-categories ul.card-category-list > .card-category-list-item a:active {
    transform: scale(0.97);
  }
}
#aside-content .card-archives ul.card-archive-list > .card-archive-list-item a,
#aside-content .card-categories ul.card-category-list > .card-category-list-item a {
  border-radius: 8px;
  margin: 4px 0;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  border: var(--style-border);
}
#aside-content .card-archives ul.card-archive-list > .card-archive-list-item a span:first-child,
#aside-content .card-categories ul.card-category-list > .card-category-list-item a span:first-child {
  width: auto;
  flex: inherit;
}
#aside-content .card-archives ul.card-archive-list,
#aside-content .card-categories ul.card-category-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* 安知鱼 - 侧边栏归档样式 - 结束 */


/* 安知鱼 - 侧边栏最新文章样式 - 开始 */
#aside-content .aside-list > .aside-list-item .content > time {
  display: none;
}
#aside-content .aside-list > .aside-list-item .content > .title {
  -webkit-line-clamp: 3;
  font-weight: 700;
  padding: 1px 0;
}
#aside-content .aside-list > .aside-list-item {
  padding: 3px;
  padding-top: 1px !important;
  padding-bottom: 1px !important;
  border-radius: 8px;
  transition: 0.3s;
  margin: 2px 0;
  cursor: pointer;
}
@media screen and (min-width: 1300px) {
  #aside-content .aside-list > .aside-list-item:hover {
    transform: scale(1.03);
  }
  #aside-content .aside-list > .aside-list-item:active {
    transform: scale(0.97);
  }
}
#aside-content .aside-list > .aside-list-item:hover .thumbnail > img {
  transform: scale(1);
}
#aside-content .aside-list > .aside-list-item:not(:last-child) {
  border-bottom: 0 dashed var(--anzhiyu-background) !important;
}
#aside-content .aside-list > .aside-list-item .thumbnail {
  border-radius: 3px;
  border: var(--style-border);
}
#aside-content .aside-list > .aside-list-item:hover {
  background: var(--crygcat-color);
  color: var(--crygcat-white);
  transition: 0.3s;
  box-shadow: var(--anzhiyu-shadow-main);
}
#aside-content .aside-list > .aside-list-item:hover a {
  color: var(--crygcat-white) !important;
}
/* 安知鱼 - 侧边栏最新文章样式 - 结束 */


/* 安知鱼 - 侧边栏标签修改 - 开始 */
#aside-content .card-tag-cloud a {
  color: var(--crygcat-font-color) !important;
  font-size: 1.05rem !important;
  border-radius: 8px;
  display: inline-block;
  margin-right: 4px;
}
#aside-content .card-tag-cloud a:hover {
  background: var(--crygcat-color);
  color: var(--crygcat-white) !important;
  box-shadow: var(--crygcat-color);
}
@media screen and (min-width: 1300px) {
  #aside-content .card-tag-cloud a:hover {
    transform: scale(1.03);
  }
  #aside-content .card-tag-cloud a:active {
    transform: scale(0.97);
  }
}
#aside-content .card-tag-cloud a sup {
  opacity: 0.4;
  margin-left: 2px;
}
/* 安知鱼 - 侧边栏标签修改 - 结束 */


/* HEO - 网址卡片外挂标签 - 开始 */
#article-container .tag-Link {
    background: var(--crygcat-secondbg);
    border-radius: 8px!important;
    display: flex;
    border: var(--style-border);
    flex-direction: column;
    padding: 0.5rem 1rem;
    border-width: 1px!important;
    margin-top: 1rem;
}
  
#article-container .tag-Link:hover {
    border: var(--style-border-hover);
}
  
#article-container .tag-Link .tag-link-tips {
    border-bottom: var(--style-border);
    padding-bottom: 4px;
    font-size: 0.6rem;
    color: var(--crygcat-gray);
    font-weight: normal;
}
  
#article-container .tag-Link:hover .tag-link-tips {
    color: var(--crygcat-white);
}
  
#article-container .tag-Link .tag-link-bottom {
    display: flex;
    margin-top: 0.5rem;
    align-items: center;
    justify-content: space-around;
}
  
#article-container .tag-Link .tag-link-bottom .tag-link-left {
    width: 60px;
    min-width: 60px;
    height: 60px;
    background-size: cover;
}
  
#article-container .tag-Link .tag-link-bottom .tag-link-right {
    margin-left: 1rem;
}
  
#article-container .tag-Link .tag-link-bottom .tag-link-right .tag-link-title {
    font-size: 1rem;
    line-height: 1.2;
}
  
#article-container .tag-Link .tag-link-bottom .tag-link-right .tag-link-sitename {
    font-size: 0.7rem;
    color: var(--crygcat-gray);
    font-weight: normal;
    margin-top: 4px;
}
  
#article-container .tag-Link:hover .tag-link-bottom .tag-link-right .tag-link-sitename {
    color: var(--crygcat-white);
}
  
#article-container .tag-Link .tag-link-bottom i {
    margin-left: auto;
}
/* HEO - 网址卡片外挂标签 - 结束 */


/* ichika - 页脚样式修改 - 开始 */
.footer_custom_text a{
    margin:0 5px;
    text-decoration: none;
}
#footer::before{
    content:none;
}
#footer-wrap{
    color:var(--crygcat-font-color);
    padding:50px 5% 35px 5%;
    display:flex;
    flex-wrap:wrap;
    background:var(--crygcat-footer-bg);
    position:relative;
	border-top: 1px solid #ccc;
}
#footer-wrap > div{
    width:50%;
}
#footer-left{
    text-align:left
}
.footer-title{
    font-size:1.5rem;
    font-weight:bold;
}
.footer-copyright{
    font-size:1rem;
    font-weight:normal;
}
#footer-wrap .footer-button {
    display: flex;
    margin: 15px 0;
}
#footer-wrap .footer-button > a {
    font-size: 1.3rem;
    margin-right:24px;
    transition: 0.2s;
    background: black;
    width: 40px;
    height: 40px;
    display: flex;
    border-radius: 50%;
    color: white;
    text-decoration: none;
}
#footer-wrap .footer-button > a:hover{
    background:var(--crygcat-color);
    transition:0.2s;
    text-decoration: none;
}
#footer-wrap .footer-button > a i{
    margin:auto;
    line-height:42px;
    text-decoration: none;
}
#footer-wrap .iconfont{
    font-size:1.3rem;
}
#footer-right {
    text-align: right;
    height: max-content;
    margin-top: auto;
}
#footer-right p,#footer-right a{
    color:var(--crygcat-font-grey);
    text-decoration: none;
}
.footer-totop {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.footer-totop i {
    font-size: 2rem;
    animation: footerToTop 1.2s linear infinite;
}
.footer-info p{
    font-size:14px;
    margin:0;
}
.footer-info a{
    margin-left:20px;
    transition:0.2s;
    text-decoration: none;
}
.footer-info a:hover{
    color:var(--crygcat-color)!important;
    transition:0.2s;
    text-decoration: none !important;
}
.footer-info a:hover img{
    filter: none!important;
    transition:0.2s;
    text-decoration: none;
}
.footer-service img{
    height:20px;
    filter:grayscale(1);
    margin-left:20px;
    margin-top:10px;
    transition:0.2s;
}
.footer-service img:hover{
    filter:none;
    transition:0.2s;
    text-decoration: none;
}
@keyframes footerToTop{
    0%{
        transform:translateY(0);
    }
    60% {
        transform: translateY(-25%);
    }
    100% {
        transform: translateY(0);
    }
}
@media screen and (max-width:768px) {
    #footer-wrap > div {
        width: 100%;
        text-align:center;
    }
    #footer-wrap .footer-button > a{
        margin:0 auto;
        text-decoration: none;
    }
}
/* ichika - 页脚样式修改 - 结束 */